:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #213547;
  background-color: #ffffff;
}

html, body, #root {
  min-height: 100%;
  background-color: #ffffff !important;
  padding: 0;
  width: 100%;
  color: #213547; 
}

a {
  font-weight: 500;
  color: #2563eb; 
  text-decoration: none;
}
a:hover {
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  color: #111;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s, color 0.25s;
}
button:hover {
  border-color: #2563eb;
  background-color: #f1f5f9;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.panel {
  background: #ffffff;
  color: #111111;
}

@media (prefers-color-scheme: dark) {
  html, body, #root {
    background-color: #ffffff !important;
    color: #1a1a1a;
  }

  a {
    color: #3b82f6; 
  }
  a:hover {
    color: #1d4ed8; 
  }

  .panel {
    background: #ffffff;
    color: #111111;
  }
}
